*{
    padding: 0;
    margin: 0;
}

body{
    background-color: hsl(30, 54%, 90%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300vh;
    width: 1440px;
}

.container{
    background-color: hsl(0, 0%, 100%);
    width: 600px;
    border-radius: 16px;
}

.img{
    height: 240px;
    width: 545px;
    display: block;
    margin: 25px auto;  /* this is why image is in middle */
    border-radius: 12px;
}

.head{
    font-family: 'Young Serif', serif;
    font-weight: 400;
    margin: 16px;
}

.description{
    margin: 16px;
    font-family: 'Outfit', sans-serif;
    font-size: 12px;
    font-weight: 300;
}

/* ------ */
.bold{
    font-weight: bold;
}
/* ------ */

.container-1{
    background-color: hsl(330, 100%, 98%);
    padding: 18px 36px;
    margin: 18px;
    border-radius: 8px;
    font-family: 'Outfit', sans-serif;
    font-size: small;
}

.container-1 h3{
    color: hsl(332, 51%, 32%);
    margin: 0 0 0 -10px;
}

.container-1 ul{
    padding: 10px;
    line-height: 25px;
}

.container-1 ul li {
  padding-left: 15px;
  font-weight: 300;
}

.container-1 ul li::marker{
    color: hsl(332, 51%, 32%);
}

.container-2{
    margin: 32px;
}

.container-2 h2{
    color: hsl(14, 45%, 36%);
    margin: 0 0 0 -12px;
    font-family: 'Young Serif', serif;
    font-weight: 400;
}

.container-2 ul{
    padding: 12px;
    line-height: 32px;
    font-family: 'Outfit', sans-serif;
}

.container-2 ul li{
    padding-left: 15px;
    font-weight: 300;
}

.container-2 ul li::marker{
    color: hsl(14, 45%, 36%);
}

.line{
    margin: 20px;
}

.container-3{
    margin: 32px;
}

.container-3 h2{
    color: hsl(14, 45%, 36%);
    margin: 0 0 0 -12px;
    font-family: 'Young Serif', serif;
    font-weight: 400;
}

.container-3 ol{
    padding: 12px;
    line-height: 28px;
    font-family: 'Outfit', sans-serif;
}

.container-3 ol li{
    padding-left: 15px;
    font-weight: 300;
}

.container-3 ol li::marker{
    color: hsl(14, 45%, 36%);
    font-weight: bold;
}

.container-4{
    margin: 32px;
}

.container-4 h2{
    color: hsl(14, 45%, 36%);
    margin: 0 0 0 -12px;
    font-family: 'Young Serif', serif;
    font-weight: 400;
}

.container-4 p{
    margin: 16px 0 0 -10px;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
}

.nutrition-table {
    margin: 16px;
}

.row{
    padding: 16px;
    font-family: 'Outfit', sans-serif;
}


.value1{
    font-weight: bold;
    color: hsl(14, 45%, 36%);
    margin-left: 200px;
}

.value2{
    font-weight: bold;
    color: hsl(14, 45%, 36%);
    margin-left: 215px;
}

.value3{
    font-weight: bold;
    color: hsl(14, 45%, 36%);
    margin-left: 205px;
}

.value4{
    font-weight: bold;
    color: hsl(14, 45%, 36%);
    margin-left: 232px;
}